<%- include('./layout') %>

<main class="content">
  <% if(locals.user){ %>
  <h2>Welcome, <%= locals.user.username %></h2>
  <a href="/logout">
    <button class="btn-primary">Logout</button>
  </a>
  <%}else{%>
  <h2>This is the home page for the member's only Message Club</h2>
  <p>Please, <a href="/login">login</a> or <a href="/register">register</a></p>
  <% } %>
</main>
