<%- include('./layout') %>

<main class="content">
  <h2>Login</h2>
  <% if (errors && errors.length > 0) { %>
  <div class="error-list">
    <p>Please fix the following errors:</p>
    <ul>
      <% errors.forEach(error => { %>
      <li><%- error.msg %></li>
      <% }); %>
    </ul>
  </div>
  <% } %>
  <form action="/login" method="POST" class="form">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      value="<%- user ? user.username : '' %>"
      required
    />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <button type="submit" class="btn-primary">Login</button>
  </form>
  <a href="/register">
    <button type="submit" class="btn-primary">
      Don't have an account? Go to Register
    </button>
  </a>
</main>
