<%- include('./layout') %>

<main class="content">
  <article class="message-box">
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete the following post?</p>
    <h3><%= message.title %></h3>
    <p><%= message.text %></p>
    <div class="message-actions">
      <form action="" method="POST">
        <button type="submit" class="btn-primary">Confirm Delete</button>
      </form>
    </div>
  </article>
</main>
