.form {
  display: grid;
  grid-gap: 1rem;
  min-width: 100%;
  margin: 0 auto;
}

.form label {
  display: block;
  font-weight: bold;
  margin: 0;
}

.form input[type='text'],
.form input[type='password'],
.form input[type='email'],
.btn-primary {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

/* Estilos para el botón de envío */
.form button,
.btn-primary {
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in;
  margin: 0.5rem 0;
}
.btn-primary:hover {
  background-color: var(--secondary);
}

.form button:hover {
  background-color: var(--accent);
}

form-group,
.form-group {
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.5rem;
  color: var(--text);
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

textarea {
  resize: vertical;
}
