:root {
  --text: hsl(236, 39%, 7%);
  --background: hsl(234, 38%, 95%);
  --primary: hsl(265, 39%, 74%);
  --secondary: hsl(296, 39%, 80%);
  --accent: hsl(296, 39%, 40%);
}

body {
  display: grid;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
}

header {
  display: flex;
  background-color: var(--primary);
  padding: 1rem;
  text-align: center;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.options ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.options a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav {
  background-color: var(--secondary);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;

  margin: 0 10px;
  padding: 5px 10px;

  border: 2px solid var(--accent);
  border-radius: 5px;

  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: var(--accent);
}

.content {
  min-width: min(900px, calc(90% - 1rem));
  margin-inline: auto;
  padding: 1rem;
  display: grid;
  line-height: 1;
}

.body-title {
  margin-bottom: 1.25rem;
}

.error-list {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  width: 100%;
}

.error-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.error-list li {
  color: #721c24;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

a:not(nav a) {
  color: var(--primary);
  text-decoration: none;
  transition: 0.2s ease;
}

a:not(nav a):hover {
  color: var(--accent);
}
